
*{margin: 0; padding: 0;font-family: 'Old Standard TT', serif;}
.container{
     display: grid;
     justify-content: center;
     align-content: center;
     min-height: 100vh;
     grid-template-columns: 30vw;
     grid-template-rows: repeat(3,10vh) 5vh repeat(2,10vh);
     grid-gap: 10px;
     
}
body{
    background: rgb(11, 12, 13);
}

h1{
    text-align: center;
    color: white;
}

.bmi-value{
    background-color: rgb(254, 254, 248);
    display: grid;
    grid-template-rows: 50% 50%;
}
.status{
    background-color: rgb(237, 231, 37);
    display: grid;
    grid-template-rows: 50% 50%;
    
}
.container > div{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    border-radius: 10px;
}
button,input{
    min-width: 100%;
    min-height: 100%;
    border: none;
    outline: none;
    font-size: 1.5vw;
    border-radius: 8px;
}
input{
    background: #fcfbf8;
    text-indent: 0.5em;
    max-width:100% ;
    color: rgb(12, 12, 12);
    outline: none;
}

button{
    background: rgb(237, 231, 37);
    cursor: pointer;
}
button:hover{
    background: #130d5a;
    color: rgb(252, 252, 253);
}
